{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <!-- Login form -->
	<div class="max-w-md mx-auto mt-10">
	<h1 class="text-3xl font-bold mb-5">Login</h1>
    	<form action="/login" method="POST">
		<div class="mb-4">
         		<input type="text" name="username" placeholder="Username" required class="border-2">
          	</div>
	 	<div class="mb-4">
	    		<input type="password" name="password" placeholder="Password" required class="border-2">
	  	</div>
          	<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
	</form>
	</div>
{% endblock %}
