{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <!-- Login form -->
	<div class="max-w-md mx-auto mt-10">
	<h1 class="text-3xl font-serif text-[#65615a] font-bold mb-5">Login</h1>
    	<form action="/login" method="POST" class="bg-[#f4ecdf] text-[#65615a] text-center py-16 shadow-[#514e4b] shadow-md">
		<div class="mb-4">
			<label class="font-serif">Username</label><br>
         		<input type="text" name="username" required class="border-2 pl-2 rounded-md border-[#99958e] bg-[#f3f2ed]">
          	</div>
	 	<div class="mb-4">
			<label class="font-serif">Password</label><br>
	    		<input type="password" name="password" required class="border-2 pl-2 rounded-md border-[#99958e] bg-[#f3f2ed]">
	  	</div>
          	<button type="submit" class="bg-[#99958e] text-white px-4 py-2 rounded">Login</button>
	</form>
	</div>
{% endblock %}
